<div class="container">

    <div class="padding">
        <div class="center">

            <img src="https://via.placeholder.com/600x400" alt="" width="100%">
    </div>
    
    <h1>Nahuel Barreiro</h1>
    <p class="text-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laudantium, praesentium vitae soluta necessitatibus vero itaque minus doloribus inventore cupiditate! Obcaecati consequuntur ab sed itaque praesentium quas adipisci molestias iste?  </p>

    
    <button (click)="open()">Learn More</button>

    
    <ul>
        <li><strong>Fecha de nacimiento</strong>: 15/01/1997</li>
        <li><strong>Provincia</strong>: Córdoba</li>
        <li><strong>Email</strong>: nahuelbarreiro@gmail.com</li>
        <li><strong>Telefono</strong>: +54 9 3546 48 8627</li>
    </ul>
</div>
</div>