.image-header{
    background-image: url("https://via.placeholder.com/400x200");
    background-color: #cccccc;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 25px;
}