<a type="button" class="button-modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span class="material-icons">close</span>
</a>
<div class="modal-header image-header" style="border-bottom: none !important;">

  
  </div>
  <div class="modal-body">
    
    <ul>
        <li>Pyhon</li>
        <li>Pyhon</li>
        <li>Pyhon</li>
        <li>Pyhon</li>
        <li>Pyhon</li>
    </ul>
    <h4 class="modal-title" >Language Skills</h4>
    <ul>
        <li>Español</li>
        <li>Inglés</li>
    </ul>
  </div>